@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  text-align: center;
  margin: 0px auto;
  font-size: 2rem;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.green {
  background-color: rgb(22 163 74);;
}

.yellow {
  background-color: rgb(202 138 4);
}

.grey {
  background-color: rgb(112,128,144);
}

.words {
  width: 300px;
}